# add each subdomain to /etc/hosts to test
# e.g. 
# 127.0.0.1 test.grogu.hosts.pve

test.grogu.hosts.pve:80 {
	tls internal
	respond "Hello, world!"
}

dashboard.grogu.hosts.pve:80 {
	tls internal
	reverse_proxy {$MINIKUBE_IP}:{$DASHBOARD_PORT}
}

prometheus.grogu.hosts.pve:80 {
	tls internal
	reverse_proxy {$MINIKUBE_IP}:{$PROMETHEUS_PORT}
}

grafana.grogu.hosts.pve:80 {
	tls internal
	reverse_proxy {$MINIKUBE_IP}:{$GRAFANA_PORT}
}

*.grogu.hosts.pve:80 {
	tls internal

	reverse_proxy {$MINIKUBE_IP}:{$KOURIER_PORT} {
		header_up Host {labels.3}.default.local.knative
	}
}

# vim: tabstop=4 shiftwidth=4 softtabstop=4 noexpandtab:
