Host proxmox
  HostName 10.15.40.20
  User root

Host anakin
  HostName 10.0.0.20
  User ubuntu
  ProxyCommand ssh -W %h:%p proxmox

Host padme
  HostName 10.0.0.21
  User ubuntu
  ProxyCommand ssh -W %h:%p proxmox

Host luke
  HostName 10.0.0.22
  User ubuntu
  ProxyCommand ssh -W %h:%p proxmox

Host leia
  HostName 10.0.0.23
  User ubuntu
  ProxyCommand ssh -W %h:%p proxmox
