### Testing
test.hosts.pve:80 {
	respond "Hello, world!"
}

### Serverless Nodes
*.grogu.hosts.pve:80 {
	reverse_proxy 10.0.0.10
}

### Standalone Nodes
*.standalone.hosts.pve:80 {
	reverse_proxy 10.0.0.30
}

### Standalone with separate Load Balancer
*.standalone-lb.hosts.pve:80 {
	reverse_proxy 10.0.0.35
}

### Monitoring
grafana.hosts.pve:80 {
	reverse_proxy 10.0.0.40:3000
}

### Monitoring
influxdb.hosts.pve:80 {
	reverse_proxy 10.0.0.40:8086
}

### Load Tester
ddosify.hosts.pve:80 {
	reverse_proxy 10.0.0.11:8014
}

fib-go.hosts.pve:80 {
	reverse_proxy 10.0.0.100:8080
}

# vim: ft=conf tabstop=4 shiftwidth=4 softtabstop=4 noexpandtab:
