### Testing
test.hosts.pve {
	tls internal
	respond "Hello, world!"
}

### Serverless Nodes
*.grogu.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.10
}

### Standalone Nodes
*.standalone.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.30
}

### Monitoring
grafana.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.40:3000
}

### Monitoring
influxdb.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.40:8086
}

### Load Tester
ddosify.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.11:8014
}

### Archive
anakin.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.20:3000
}

padme.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.21:3000
}

luke.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.22:3000
}

leia.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.23:3000
}

# vim: ft=conf tabstop=4 shiftwidth=4 softtabstop=4 noexpandtab:
