### Testing
test.hosts.pve {
	tls internal
	respond "Hello, world!"
}

### mock sslip
*.tun.hosts.pve {
	tls internal
	reverse_proxy {labels.3}.{labels.4}.{labels.5}.{labels.6}:{port}
}

### Serverless Nodes
*.grogu.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.10
}

container.standalone.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.51:3000
}

### Standalone Nodes
*.standalone.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.30
}

### Standalone with separate Load Balancer
*.standalone-lb.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.35
}

### Monitoring
grafana.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.40:3000
}

### Monitoring
influxdb.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.40:8086
}

### Load Tester
ddosify.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.11:8014
}

fib-go.hosts.pve {
	tls internal
	reverse_proxy 10.0.0.100:8080
}

# vim: ft=conf tabstop=4 shiftwidth=4 softtabstop=4 noexpandtab:
