test.standalone.hosts.pve:80 {
	tls internal
	respond "Hello, world!"
}

one.standalone.hosts.pve:80 {
	tls internal
	reverse_proxy 10.0.0.30:3000
}

two.standalone.hosts.pve:80 {
	tls internal
	reverse_proxy 10.0.0.30:3000 10.0.0.31:3000
}

three.standalone.hosts.pve:80 {
	tls internal
	reverse_proxy 10.0.0.30:3000 10.0.0.31:3000 10.0.0.32:3000
}

# vim: ft=conf tabstop=4 shiftwidth=4 softtabstop=4 noexpandtab:
