# add each subdomain to /etc/hosts to test
# e.g. 
# 127.0.0.1 test.grogu.hosts.pve

test.grogu.hosts.pve {
  tls internal
	respond "Hello, world!"
}

bubble-sort.grogu.hosts.pve {
  tls internal
  reverse_proxy 192.168.49.2:32518 {
    header_up Host bubble-sort.default.10.102.11.179.sslip.io
  }
}
